/.vscode
/a.exe
/absolutevalue.exe
/armstrong.exe
/ASCII.exe
/axis.exe
/circle.exe
/conditional.exe
/ConditionalOpp.exe
/customer.exe
/DayOnAnyDate.exe
/DayOnDate.exe
/diamond.exe
/GOTbyCon.exe
/GradeOfSteel.exe
/hollowsqare.exe
/ifelse.exe
/invertedstar.exe
/LeapByConOP.exe
/LeapYear.exe
/libraryBook.exe
/LowerCase.exe
/palindrome.exe
/pointer.exe
/primeNum.exe
/rectangle.exe
/restrobill.exe
/StraigthLine.exe
/swastik.exe
/Triangle.exe
/TriangleBySide.exe
/TriangleType.exe
/while.exe
/WorkerEfficiency.exe